In [40]:
import pandas as pd
import numpy as np

In [41]:
numbers = [1,2,3,4,5,6,7,8,9,20,30,40,50,100,200]

##### Play With Lists

In [42]:
print("Length of Numbers")
print(len(numbers))

print("\n11 th Position value")
print(numbers[11])

print("\nAll Vales" )
print(numbers[::])

print("\n2nd Postion to 4th posion" )
print(numbers[2:4:])


print("\n2nd Postion to 12th posion" )
print(numbers[2:12:])


print("\n2nd Postion to 12th posion 2 step" )
print(numbers[2:12:2])

print("\n2nd Postion to 12th posion 3 step" )
print(numbers[2:12:3])


numbers.append('B')
print("\nAppend B \n ",numbers )


numbers.pop(15)
print("\nPOP 16th position B \n ",numbers )

Length of Numbers
15

11 th Position value
40

All Vales
[1, 2, 3, 4, 5, 6, 7, 8, 9, 20, 30, 40, 50, 100, 200]

2nd Postion to 4th posion
[3, 4]

2nd Postion to 12th posion
[3, 4, 5, 6, 7, 8, 9, 20, 30, 40]

2nd Postion to 12th posion 2 step
[3, 5, 7, 9, 30]

2nd Postion to 12th posion 3 step
[3, 6, 9, 40]

Append B
  [1, 2, 3, 4, 5, 6, 7, 8, 9, 20, 30, 40, 50, 100, 200, 'B']

POP 16th position B
  [1, 2, 3, 4, 5, 6, 7, 8, 9, 20, 30, 40, 50, 100, 200]

In [43]:
for x in numbers:
    print(x)

1
2
3
4
5
6
7
8
9
20
30
40
50
100
200

In [44]:
##### Uses of end 

####
for x in numbers:
    print(x, end=" ")

print("\n")

####
for x in numbers:
    print(x, end=" ")

print("\n")

####
for x in numbers:
    print(x, end=",")

1 2 3 4 5 6 7 8 9 20 30 40 50 100 200

1 2 3 4 5 6 7 8 9 20 30 40 50 100 200

1,2,3,4,5,6,7,8,9,20,30,40,50,100,200,

In [45]:
##### Print the square of only the even numbers 

print("Square of Even numbers in the list are:")
for x in numbers:
    if x%2 ==0:
        print(x**2, end=" ")


print("\n\n")
###### Create a list using even numbers:

list_of_evens=[]
list_of_odds=[]
list_of_even_square=[]

for x in numbers:
    if x%2 ==0:
        print(x, end=" ")
        y=x**2
        list_of_even_square.append(y)
        list_of_evens.append(x)
    else:
        list_of_odds.append(x)
        
print("\nlist of even is:",list_of_evens)
print("\nlist of odds is:",list_of_odds)
print("\nlist of even square is:",list_of_even_square)

Square of Even numbers in the list are:
4 16 36 64 400 900 1600 2500 10000 40000


2 4 6 8 20 30 40 50 100 200
list of even is: [2, 4, 6, 8, 20, 30, 40, 50, 100, 200]

list of odds is: [1, 3, 5, 7, 9]

list of even square is: [4, 16, 36, 64, 400, 900, 1600, 2500, 10000, 40000]

In [46]:
all_numbers = [x for x in numbers] 
print("All Numbers:", all_numbers) 

evens = [x for x in numbers if x%2 ==0]
print("Even Numbers:", evens) 

square_of_all = [x**2 for x in numbers ]
print("Square of all Numbers:", square_of_all) 


square_of_evens = [x**2 for x in numbers if x %2 ==0]
print("Square of all Evens:", square_of_evens)

All Numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 20, 30, 40, 50, 100, 200]
Even Numbers: [2, 4, 6, 8, 20, 30, 40, 50, 100, 200]
Square of all Numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 400, 900, 1600, 2500, 10000, 40000]
Square of all Evens: [4, 16, 36, 64, 400, 900, 1600, 2500, 10000, 40000]

#### Play with Tuples

In [47]:
tuple_list=(1,22,333,4444,55555,666666)
print("Tuple List: ", tuple_list)


print("Type: ",type(tuple_list))
print("positional vale of 2 : ",tuple_list[2])

Tuple List:  (1, 22, 333, 4444, 55555, 666666)
Type:  <class 'tuple'>
positional vale of 2 :  333

In [48]:
dict_list={
    'Course :01': 87,
    'Course :02': 77,
    'Course :03': 81,
    'Course :04': 85
}

print("Dictionary : ", dict_list)

dict_list['Course :02']=10

print("Update Value : ", dict_list)

print("Keys : ", dict_list.keys())


print("Values : ", dict_list.values())
print("Value Type : ", type(dict_list.values()))



print("Change value type to list : ", list(dict_list.values()))

print("Key Value pairs : ", dict_list.items())

Dictionary :  {'Course :01': 87, 'Course :02': 77, 'Course :03': 81, 'Course :04': 85}
Update Value :  {'Course :01': 87, 'Course :02': 10, 'Course :03': 81, 'Course :04': 85}
Keys :  dict_keys(['Course :01', 'Course :02', 'Course :03', 'Course :04'])
Values :  dict_values([87, 10, 81, 85])
Value Type :  <class 'dict_values'>
Change value type to list :  [87, 10, 81, 85]
Key Value pairs :  dict_items([('Course :01', 87), ('Course :02', 10), ('Course :03', 81), ('Course :04', 85)])

In [49]:
#### Access to item index
print ("Access to item and item index: ")
for index, item in enumerate(dict_list):
    print( "index is ", index, " item is  ", item)
    


#### Access to item index & value 
print ("\nAccess to item and item index and item value: ")    
for index, (item, value) in enumerate(dict_list.items()):
    print("index is", index, "item is", item, "value is", value)

Access to item and item index:
index is  0  item is   Course :01
index is  1  item is   Course :02
index is  2  item is   Course :03
index is  3  item is   Course :04

Access to item and item index and item value:
index is 0 item is Course :01 value is 87
index is 1 item is Course :02 value is 10
index is 2 item is Course :03 value is 81
index is 3 item is Course :04 value is 85

#### Play With Sets

In [50]:
set_list = {1, 22, 333, 4444, 55555, 666666}
print("Set is: ", set_list)
print("Type: ", type(set_list))

Set is:  {1, 55555, 22, 666666, 4444, 333}
Type:  <class 'set'>

#### Play with Zip

In [51]:
names= ["Alice", "Bob", "Charl", "Danny"]
grades = ["A", "A-","B", "C"]

for name, grades in zip(names,grades):
    print(name,grades)

Alice A
Bob A-
Charl B
Danny C

#### Python: progress

In [52]:
!pip install tqdm

Requirement already satisfied: tqdm in /home/shaikh/miniconda3/lib/python3.12/site-packages (4.66.2)

In [ ]:
#### Before tqdm

print("Progress are not shown: ")
for item in range(50000000):
    pass


import tqdm

print("\n Progress are shown: ")
for item in tqdm.tqdm(range(50000000)):
    pass

Progress are not shown:

In [ ]:
from tqdm import tqdm
import time
 
# Progress bar 1: Default settings
for i in tqdm(range(300)):
	time.sleep(0.03)
 
# Progress bar 2: Customized bar format and color
for i in tqdm(range(300), bar_format='[{elapsed}<{remaining}] {n_fmt}/{total_fmt} | {l_bar}{bar} {rate_fmt}{postfix}', colour='yellow'):
	time.sleep(0.03)
 
# Progress bar 3: Customized bar format and color, leave=False
for i in tqdm(range(300), bar_format='[{elapsed}<{remaining}] {n_fmt}/{total_fmt} | {l_bar}{bar} {rate_fmt}{postfix}', colour='red', leave=False):
	time.sleep(0.01)

#### It is time for function

In [ ]:
def calculation (operator, value1, value2):
    if operator == "add":
        return value1+value2
    if operator == "substract":
        return value1-value2
    if operator == "division":
        return value1/value1
    else:
        return value2*value1
    
calculation("add", 7,6)

#### Why missing "Error handeling!"

In [ ]:
n1 = 5
n2 = 0


##### General format 
try: 
    result = n1/n2
    print(result)
except Exception as e:
    print(e)
    
    
    
### Try with function
def calculation_error(operator, value1, value2):
    if operator == "add":
        return value1 + value2
    elif operator == "substract":
        return value1 - value2
    elif operator == "division":
        return value1 / value2
    elif operator == "multiply":
        return value1 * value2
    else:
        raise ValueError("Unsupported operator")


try:
    print(calculation_error("division", 8, 0))
except Exception as e:
    print("Error:", e)

#### Numpy Array

In [ ]:
########  With Zero
print("1D Array")
zero_np_array_1d = np.zeros(
    shape=(6,),
    dtype=np.int32,
    )

print(zero_np_array_1d)

print("\n2D Array")
zero_np_array_2d = np.zeros(
    shape=(5,2),
    dtype=np.int32,
    )

print(zero_np_array_2d)

print("\n3D Array")
zero_np_array_3d = np.zeros(
    shape=(5,2,3),
    dtype=np.int32,
    )

print(zero_np_array_3d)

In [ ]:
########  With One
print("1D Array")
zero_np_array_1d = np.ones(
    shape=(6,),
    dtype=np.int32,
    )

print(zero_np_array_1d)

print("\n2D Array")
zero_np_array_2d = np.ones(
    shape=(5,2),
    dtype=np.int32,
    )

print(zero_np_array_2d)

# print("\n3D Array")
# zero_np_array_3d = np.ones(
#     shape=(5,2,3),
#     dtype=np.int32,
#     )

# print(zero_np_array_3d)

In [ ]:
########  With Onvalu
print("1D Array")
zero_np_array_1d = np.full(
    shape=(6,),
    dtype=np.int32,
    fill_value=5
    )

print(zero_np_array_1d)

print("\n2D Array")
zero_np_array_2d = np.full(
    shape=(5,2),
    dtype=np.int32,
    fill_value=5
    )

print(zero_np_array_2d)

# print("\n3D Array")
# zero_np_array_3d = np.full(
#     shape=(5,2,3),
#     dtype=np.int32,
#     )

# print(zero_np_array_3d)

In [ ]:
#### Identity Matrix

id_matrix= np.eye(4)
print("Identity Matrix: \n\n",id_matrix)