In [1]:
import pandas as pd

In [2]:
health_table = {"height": [5.5,5.5,'A', 5.8],
                "weight": [57,62,72,75],
                "bmi": [19.3,12.7,20.0, None],
                "smoker": ['Yes', 'No', None, 'Yes']}


display(health_table.keys())
display(health_table.values())

dict_keys(['height', 'weight', 'bmi', 'smoker'])

dict_values([[5.5, 5.5, 'A', 5.8], [57, 62, 72, 75], [19.3, 12.7, 20.0, None], ['Yes', 'No', None, 'Yes']])

In [3]:
health_table= pd.DataFrame(health_table)
display(health_table.head())
display(health_table.info())

  height  weight   bmi smoker
0    5.5      57  19.3    Yes
1    5.5      62  12.7     No
2      A      72  20.0   None
3    5.8      75   NaN    Yes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  4 non-null      object
 1   weight  4 non-null      int64
 2   bmi     3 non-null      float64
 3   smoker  3 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 260.0+ bytes

None

In [4]:
display(health_table.describe())

         weight        bmi
count   4.00000   3.000000
mean   66.50000  17.333333
std     8.42615   4.027820
min    57.00000  12.700000
25%    60.75000  16.000000
50%    67.00000  19.300000
75%    72.75000  19.650000
max    75.00000  20.000000

#### Read CSV

In [6]:
df = pd.read_csv("homelessness.csv")
display(df.head())

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588

In [12]:
### Sort data with one variable

sort_by = df.sort_values(by=["region"], ascending=[False])
display(sort_by.head(10))



### Sort data with multiple variable

sort_by = df.sort_values(by=["region", "state"], ascending=[False, False])
display(sort_by.head(10))

,Unnamed: 0,region,state,individuals,family_members,state_pop
36,36,West South Central,Oklahoma,2823.0,1048.0,3940235
3,3,West South Central,Arkansas,2280.0,432.0,3009733
18,18,West South Central,Louisiana,2540.0,519.0,4659690
43,43,West South Central,Texas,19199.0,6111.0,28628666
25,25,West North Central,Missouri,3776.0,2107.0,6121623
15,15,West North Central,Iowa,1711.0,1038.0,3148618
27,27,West North Central,Nebraska,1745.0,676.0,1925614
23,23,West North Central,Minnesota,3993.0,3250.0,5606249
41,41,West North Central,South Dakota,836.0,323.0,878698
16,16,West North Central,Kansas,1443.0,773.0,2911359

,Unnamed: 0,region,state,individuals,family_members,state_pop
43,43,West South Central,Texas,19199.0,6111.0,28628666
36,36,West South Central,Oklahoma,2823.0,1048.0,3940235
18,18,West South Central,Louisiana,2540.0,519.0,4659690
3,3,West South Central,Arkansas,2280.0,432.0,3009733
41,41,West North Central,South Dakota,836.0,323.0,878698
34,34,West North Central,North Dakota,467.0,75.0,758080
27,27,West North Central,Nebraska,1745.0,676.0,1925614
25,25,West North Central,Missouri,3776.0,2107.0,6121623
23,23,West North Central,Minnesota,3993.0,3250.0,5606249
16,16,West North Central,Kansas,1443.0,773.0,2911359